<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mcm.edu.ph.bonelectronicsinheritance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BonElectronicsInheritance">
        <activity android:name=".Warrior"></activity>
        <activity android:name=".Thief" />
        <activity android:name=".SecondFragment" />
        <activity android:name=".RelicBeast" />
        <activity android:name=".Pusswitch" />
        <activity android:name=".Ninja" />
        <activity android:name=".Necromancer" />
        <activity android:name=".Monster" />
        <activity android:name=".Marksman" />
        <activity android:name=".Fighter" />
        <activity android:name=".Archer" />
        <activity android:name=".Assassin" />
        <activity android:name=".Automation" />
        <activity android:name=".Fighterkurt" />
        <activity android:name=".Gioslime" />
        <activity android:name=".Healer" />
        <activity android:name=".Heroes" />
        <activity android:name=".Hunter" />
        <activity android:name=".Knight" />
        <activity android:name=".Mage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>